__pycache__/
*.pyc
.env
venv/
*.pt
*.pth
data/synthetic/
.DS_Store
data/.DS_Store
data/dataset_final/
data/dataset_for_group.zip
data/dataset_split.zip
data/dataset_split/
data/dataset_v3/
data/dataset_v3_clean/
data/efficientnet_dataset.zip
data/efficientnet_dataset/
data/efficientnet_small.zip
data/efficientnet_small/
data/roboflow_export/
data/spain-id-zones.v2-v2-200imgs-3classes.coco/
data/upload_batch/
data/upload_v3/
data/yolo_annotations/
notebooks/.ipynb_checkpoints/
backend/.DS_Store
backend/weights/.DS_Store
